# Node.js dependencies
/node_modules
/.pnp
.pnp.js
.yarn
.yarnrc
.yarnrc.yml
.yarnignore

# Testing coverage
/coverage

# Next.js build output
/.next
/out

# Production build directory
/build

# Miscellaneous
.DS_Store
*.pem

# Debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env.local

# Vercel specific
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Editor/IDE files
.vscode
.idea

# Custom directories (if any)
/dist

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for yarn
yarn.lock

# Ignore cache and workspace-specific files
.cache/
*.log
